<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="col-md-6">
      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <h1>  </h1>
      </div>
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h4>会員の方はこちらからログイン</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div>
           <%= f.label :email, "メールアドレス" %>
           <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div>
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div>
          <%= link_to "=>パスワードを忘れた方はこちら", edit_member_registration_path %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      </div>
      <!-- col-md- -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h4>登録がお済みでない方</h4>
      </div>
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p><%= link_to "こちら", new_member_registration_path %>  から新規登録を行ってください。</p>
      </div>
    </div>

  <% end %>
</div>
