
<div class="container">

  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <h4>新規登録</h4>
    </div>
  </div>

  <div class="row">
  <!-- 入力フォーム -->
    <div class="col-md-10 col-md-offset-1">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <table class="table">
          <tbody>
            <tr>
              <td>名前</td>
              <td><%=  f.label :last_name, "(性)" %><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name"  %></td>
              <td><%=  f.label :first_name, "(名)" %><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name"  %></td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td><%=  f.label :last_kana_name, "(セイ)" %><%= f.text_field :last_kana_name, autofocus: true, autocomplete: "last_kana_name"  %></td>
              <td><%=  f.label :first_kana_name, "(メイ)" %><%= f.text_field :first_kana_name, autofocus: true, autocomplete: "first_kana_name"  %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :post_number, autofocus: true, autocomplete: "post_number" %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
            </tr>
            <tr>
              <td>電話番号(ハイフンなし)</td>
              <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></td>
            </tr>
            <tr>
              <td>パスワード(6字以上)</td>
              <td>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </td>
            </tr>
            <tr>
              <td>パスワード(確認用)</td>
              <td>
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </td>
              <tr>
                <td>
                  <div class="actions">
                     <%= f.submit "新規登録", class: "btn btn-success" %>
                  </div>
                </td>
              </tr>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>

  </div>

  <div class="row">
    <!-- 既に登録ずみ -->
    <div class="col-md-4 col-md-offset-2">
      <h4>既に登録済みの方</h4>
      <p><%= link_to "こちら", new_member_session_path %>  からログインしてください。</p>
    </div>
  </div>
</div>


