<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'members/products/type_serch', types: @types %>
    </div>
    <!-- col -->

    <div class="col-xs-9">
      <h3>商品一覧<span> (全<%= @quantity %>件) </span></h3>
    </div>
  </div>
  <!-- row -->

  <div class="row">
    <div class="col-xs-3">
      <h1> </h1>
    </div>

    <% @products.each do |product| %>
      <div class="col-xs-2">
        <div class="members_orders_top_image ">
          <%= link_to attachment_image_tag(product, :image, class: "routes_image_tag"), members_product_path(product) %>
          <p><%= product.name %><br>
          <% if product %>
            ¥ <%= product.unit_price %></p>
          <% end %>
          <% if product %>
              <p>販売中</p>
          <% else %>
              <p>売切れ</p>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
