<div class="container">
       <div class="row">
            <div class="col-md-10">
                  <h4><strong><%= @member.last_name %><%= @member.first_name %>さんの会員情報編集</strong></h4>
            </div>
      </div>

      <div class="row">
            <div class="col-md-10">
                  <h1>  </h1>
            </div>
      </div>

      <%= form_with(model: @member, url: admins_member_path, method: :patch, local: true)  do |form| %>
            <div class="row">
                  <div class="col-md-10">
                        <table>
                              <tbody>
                                    <tr>
                                          <th>会員ID</th>
                                          <td><%= @member.id %>
                                                </td>
                                    </tr>
                                    <tr>
                                          <th>
                                          <h1>   </h1>
                                    </th>
                                    </tr>
                                          <th>氏名</th>
                                          <td><%= form.text_field :last_name %></td>
                                          <td><%= form.text_field :first_name %></td>
                                    </tr>
                                    <tr>
                                          <th>
                                                <h1>   </h1>
                                          </th>
                                    </tr>
                                    <tr>
                                          <th>フリガナ</th>
                                          <td><%= form.text_field :last_kana_name %></td>
                                          <td><%= form.text_field :first_kana_name %></td>
                                    </tr>

                                    <tr>
                                          <th>
                                                <h1>   </h1>
                                          </th>
                                    </tr>
                                    <tr>
                                          <th>郵便番号</th>
                                          <th><%= form.text_field :post_number %></th>
                                    </tr>

                                    <tr>
                                          <th>
                                                <h1>   </h1>
                                          </th>
                                    </tr>
                                    <tr>
                                          <th>住所</th>
                                          <th><%= form.text_field :address %></th>
                                    </tr>
                                          <th>
                                                <h1>   </h1>
                                          </th>
                                    </tr>
                                    <tr>
                                          <th>電話番号</th>
                                          <th><%= form.text_field :telephone_number %></th>
                                    </tr>
                                          <th>
                                                <h1>   </h1>
                                          </th>
                                    </tr>
                                    <tr>
                                          <th>メールアドレス</th>
                                          <th><%= form.email_field :email %></th>
                                    </tr>
                                    <tr>
                                          <th>
                                                <h1>   </h1>
                                          </th>
                                    </tr>
                                    <tr>
                                          <th>会員ステータス</th>
                                          <th>
                                                <label><%= form.radio_button :member_status, :false %>有効</label>
                                                <%= form.radio_button :member_status, true %>
                                                <%= form.label :member_status, "退会済み", {value: :true, style: "display: inline-block;" } %>
                                          </th>
                                    </tr>
                                          <th>
                                                <h1>   </h1>
                                          </th>
                                    </tr>

                                    <tr>
                                          <th><%= form.submit "変更を保存する", class: "btn btn-primary" %></th>
                                    </tr>
                              </tbody>

                        </table>
                  </div>
            </div>
            <!-- col-md-6 -->
      <% end %>
  <!-- row -->
</div>
<!-- container -->
