
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4><strong><%= @member.last_name %><%= @member.first_name %>さんの会員詳細</strong></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
        <table>
          <tbody>
            <tr>
              <th>顧客ID</th>
              <td>
                <%= @member.id %>
                <span class="label label-info">
                  <% if @member.member_status == true %>
                    退会済会員
                  <% else %>
                    有効会員
                  <% end %>
                </span>
              </td>
            </tr>

            <tr>
              <th>
                <h1>   </h1>
              </th>
            </tr>
            <tr>
            <!-- 2 -->
              <th>氏名</th><td><%= @member.last_name %> <%= @member.first_name %></td>
            </tr>
            <tr>
            <!-- 余白 -->
              <th>
                <h1>   </h1>
              </th>
            </tr>
            <tr>
              <th>フリガナ</th><td><%= @member.last_kana_name %> <%= @member.first_kana_name %></td>
            </tr>
            <tr>
            <!-- 余白 -->
              <th>
                <h1>   </h1>
              </th>
            </tr>
            <tr>
              <th>郵便番号</th><td><%= @member.post_number %></td>
            </tr>
            <tr>
            <!-- 余白 -->
              <th>
                <h1>   </h1>
              </th>
            </tr>
            <tr>
              <th>住所</th><td><%= @member.address %></td>
            </tr>
            <!-- 余白 -->
              <th>
                <h1>   </h1>
              </th>
            </tr>
            <tr>
              <th>電話番号</th><td><%= @member.telephone_number %></td>
            </tr>
            <!-- 余白 -->
              <th>
                <h1>   </h1>
              </th>
            </tr>
            <tr>
              <th>メールアドレス</th><td><%= @member.email %></td>
            </tr>
            <tr>
            <!-- 余白 -->
              <th>
                <h1>   </h1>
              </th>
            </tr>
            <tr>
              <th>
                <%= link_to "編集する", edit_admins_member_path(@member), class: "btn btn-primary" %>
              </th>

              <th>
                <%= link_to "注文履歴一覧に戻る", admins_orders_path, class: "btn btn-primary col-md-offset-1"  %>
              </th>
            </tr>
          </thead>

        </table>
    </div>
    <!-- col-md-6 -->

  </div>
    
  </div>
  <!-- row -->
</div>
<!-- container -->
