<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 form_group">
      <h4>商品一覧</h4>
      <div class="text-right">
        <%= link_to "+", new_admins_product_path, class: " btn btn-default", style: "border-radius: 50%" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <table class="table">
        <thead>
     	    <tr class="active">
     	      <th>商品ID</th>
     	      <th>商品名</th>
     	      <th>税抜価格</th>
     	      <th>ジャンル</th>
     	      <th>ステータス</th>
     	    </tr>
        </thead>

        <tbody>
         	<% @products.each do |product| %>
         	  <tr>
         	    <td><%= product.id %></td>
         	    <td><%= link_to product.name, admins_product_path(product.id) %></td>
         	    <td><%= product.unit_price.to_s(:delimited, delimiter: ',') %></td>
         	    <td><%= product.products_type.type_name %></td>

              <% if product.sales_status == "true" %>
                <td>販売中</td>
              <% else %>
                <td>販売停止中</td>
              <% end %>

       	    </tr>
       	  <% end %>
          <td><%= paginate @products %></td>
          <!-- ページング機能の実装です/1page10件です -->
        </tbody>
      </table>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</div>

