<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <p id="notice"><%= flash[:notice] %></p>
      <h4><strong>商品詳細</strong></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= attachment_image_tag @product, :image, format: "jpeg", size: "150x100" %>
    </div>

    <div class="col-md-4">
      <table class="table_show">
        <tbody>
          <tr>
            <th>商品名</th>
            <td><%= @product.name %></td>
          </tr>

          <tr>
            <th>商品説明</th>
            <td><%= @product.explanation %></td>
          </tr>
     
          <tr>
            <th>ジャンル</th>
            <td>
              <%= @product.products_type.type_name %>
            </td>
          </tr>
     
          <tr>
            <th>税込価格(税抜価格)</th>
            <td>
              <%= (@product.unit_price * 1.1).round.to_s(:delimited, delimiter: ',') %>
              <%= "(#{@product.unit_price.to_s(:delimited, delimiter: ',')})円" %>
            </td>
          </tr>
     
          <tr>
            <th>販売ステータス</th>
            <% if @product.sales_status == "true" %>
              <td>販売中</td>
            <% else %>
              <td>販売停止中</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <%= link_to "編集", edit_admins_product_path(@product.id), class: "btn btn-default" %>
    </div>
  </div>

 </div>